body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d3d3d3;
}

#contenedor-principal {
    padding: 20px;
}

#area-ingreso {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
    margin-bottom: 20px;
}

#contenedor-lista {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
}

#entrada-tarea {
    flex-grow: 1;
    margin-right: 10px;
}

#boton-agregar, #boton-eliminar {
    background-color: #F78181;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#boton-eliminar {
    display: block;
    margin: 20px auto 0;
    padding: 10px;
    color: white;
    background-color: #89CFF0;
}

.item-tarea {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}

.item-tarea .checkbox {
    margin-right: 10px;
}

.item-tarea .checkmark {
    color: #89CFF0;
    display: none;
}

.item-tarea .texto-tarea {
    color: #89CFF0;
}

.item-tarea .tachado {
    text-decoration: line-through;
    color: #89CFF0;
    opacity: 0.5;
}